{% extends "base.html" %}
{% load i18n %}
{% block maincontent %}

      <div class="blog-header">
        <h1 class="blog-title">{% trans "About" %}</h1>
        <!--<p class="lead blog-description"></p>-->
         <div class="row">
              <div class="col-xs-12 blog-main">
                <div class="blog-post">
                <p>{% trans "This website shows only one flight. <strong>The cheapest flight</strong> you can get tomorrow and return back in two days. Nothing more. Nothing less." %}</p>
                <p>{% trans "We do not sell tickets and we do not offer any kind of support. We just find for you <strong>the cheapest flight for tomorrow to ANYWHERE</strong>!" %}</p>
                <p></p>
                <p>{% trans "Have a nice flight!" %}</p>
                <p>&nbsp;</p>
                <p>Version: {{ version }}</p>
              </div>
         </div>
        </div>
      </div>

      {% include "footer.html" %}

      {% include "language.html" %}

{% endblock %}