{% extends "base.html" %}
{% load i18n %}
{% block maincontent %}

      <div class="blog-header">
        <h1 class="blog-title">{% trans "API" %}</h1>
        <!--<p class="lead blog-description"></p>-->
         <div class="row">
              <div class="col-xs-12 blog-main">
                <div class="blog-post">
                <p>{% trans "Most of our pages have a JSON view also." %}</p>
                <p>{% trans "To get the first page in JSON format, call" %}: <a href="http://iflytomorrow.com/?json=1">http://iflytomorrow.com/?json=1</a></p>
                <p>{% trans "City page"%}: <a href="http://iflytomorrow.com/city/MAD-sky/?json=1">http://iflytomorrow.com/city/MAD-sky/?json=1</a></p>
                <p></p>
                <p>{% trans "Have a nice flight!" %}</p>
              </div>
         </div>
        </div>
      </div>

      {% include "footer.html" %}

      {% include "language.html" %}

{% endblock %}