{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ article.title }} - iFlyTomorrow.com{% endblock %}

{% block maincontent %}

      <div class="blog-header">
        <h3 class="article-title">{{ article.title }}</h3>
         <div class="row">
              <div class="col-xs-12 blog-main">
                <div class="blog-post">
                    <p>{{ article.content | safe | linebreaksbr}}</p>
                    <p>Tags:{% for tag in article.tags.all %} {{ tag }} {% endfor %}</p>
              </div>
         </div>
        </div>
      </div>

      {% include "footer.html" %}

      {% include "language.html" %}

{% endblock %}