{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Articles, news and blog posts about flights" %}{% endblock %}

{% block maincontent %}

      <div class="blog-header">
        <h3 class="article-title">{% trans "Articles" %}</h3>
         <div class="row">
              <div class="col-xs-12 blog-main">
                <div class="blog-post">
                    {% for article in articles %}
                        <p><a href="{% url 'article' article_id=article.id slug=article.slug %}">{{ article.title}}</a></p>
                    {% endfor %}

              </div>
         </div>
        </div>
      </div>

      {% include "footer.html" %}

      {% include "language.html" %}

{% endblock %}