<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
{% load i18n %}
<html lang="en">
<head>
    <title>{% block title %}{% trans "Cheapest flight for tomorrow" %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta_description %}<meta name="description" content="The cheapest flight for tomorrow. Last minute flight deals with iFlyTomorrow">{% endblock meta_description %}
    {% block meta_keywords %}<meta name="keywords" content="cheap flight, last minute flight, deal flight, tomorrow flight, fly ticket, cheap flight ticket">{% endblock meta_keywords %}
    <meta name="author" content="iflytomorrow">
    <link rel="icon" href="/favicon.ico">
     <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static 'dealflight/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'dealflight/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'dealflight/css/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'dealflight/css/jquery-ui.structure.min.css' %}" rel="stylesheet">
    <link href="{% static 'dealflight/css/jquery-ui.theme.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'dealflight/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'dealflight/css/jumbotron-narrow.css' %}" rel="stylesheet">

    <script type="text/javascript" src="{% static 'dealflight/js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dealflight/js/jquery-ui.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'dealflight/js/bootstrap.min.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 suppport of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block custom_head %}{% endblock custom_head %}
</head>
<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    {% block content %}
        {%block container%}
        <div class="container">

                {%block navigation%}
                    <div class="header clearfix">
                    <nav>
                      <ul class="nav nav-pills pull-right">
                        <li role="presentation" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}"><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
                        <li role="presentation" class="{% if request.resolver_match.url_name == 'next-flights' %}active{% endif %}"><a href="{% url 'next-flights' %}">{% trans "Next Flights" %}</a></li>
                        <li role="presentation" class="{% if request.resolver_match.url_name == 'articles' %}active{% endif %}"><a href="{% url 'articles' page='' %}">{% trans "Articles" %}</a></li>
                        <li role="presentation" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}"><a href="{% url 'about' %}">{% trans "About" %}</a></li>
                      </ul>
                    </nav>
                    <h3 class="text-muted">{% trans "The flight for tomorrow" %}</h3>
                  </div>
                {% endblock %}  <!-- navigation -->
                {% block maincontent %} {%endblock%}
        </div> <!-- /container -->
        {% endblock %}
    {% endblock %}

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));
</script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.iflytomorrow.com"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.razvantudorica.net/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '3']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//analytics.razvantudorica.net/piwik.php?idsite=3" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

</body>
</html>