{% load i18n %}

<!-- Modal -->
<div class="modal fade" id="changeCityModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content" id="changeCityModalContent">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{% trans "Fly from..." %}</h4>
        </div>
        <div class="modal-body ui-front ui-widget" style="text-align:left;">
            <form class="form-signin" id="changeCityFrm">
                <input type="text" id="inputCity" class="form-control" placeholder="{% trans 'Type your city' %}" required="" autofocus="" />
                <input type="hidden" id="cityId" value="" />
            </form>

        </div>
        <div class="modal-footer" id="changecity-modal-footer">
            <button type="button" id="changeButton" class="btn btn-primary">{% trans 'Change' %}</button>
        </div>
      </div>

    </div>
</div>

<script type="text/javascript">
$(function() {
    $('#changeButton').click(function(){
        var cityId = $("#cityId").val();
        if (cityId) {
            window.location.href = '/city/' + cityId;
        }
        $('#changeCityModal').modal('hide');
    });

    $( "#inputCity" ).autocomplete({
        source:(function() {
            var xhr;
            return function(request, response) {
                if (xhr) {
                    xhr.abort();
                }
                xhr = $.ajax({
                    url: '/search-city',
                    data: {
                        query: request.term
                    },
                    dataType: 'json',
                    success: function(data) {
                        response(data);
                    },
                    error: function() {
                        response([]);
                    }
                });
            }
        })(),
        select: function (event, ui) {
            $("#cityId").val(ui.item.value);
            $("#inputCity").val(ui.item.label);
            return false;
        }
    });
});
</script>