{% extends "base.html" %}
{% load i18n %}
{% block maincontent %}

      <div class="blog-header">
        <h1 class="blog-title">{% trans "Confirm subscription" %}</h1>
        <!--<p class="lead blog-description"></p>-->
         <div class="row">
              <div class="col-xs-12 blog-main">
                <div class="blog-post">
                <p>{% trans "Thank you for confirming your subscription" %}</p>

                <p>{% trans "Have a nice flight!" %}</p>
              </div>
         </div>
        </div>
      </div>

      {% include "footer.html" %}

      {% include "language.html" %}

{% endblock %}