{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Cheapest flight for tomorrow" %}: {{ flight.airport_start.name }} - {{ flight.airport_end.name }}{% endblock %}
{% block maincontent %}

      <div class="jumbotron">
        <h2>{% trans "The flight to" %}: {{ flight.airport_end.name }}</h2>
        <div class="lead">
             <h4>{% trans "From" %}: <strong>{{ flight.airport_start.name }}</strong> {% trans "to" %} <strong>{{ flight.airport_end.name }}</strong> {% trans "on" %} {{ flight.start_date|date:"d-m-Y" }}</h4>
             <div>{% trans "and return" %}</div>
             <h4>{% trans "From" %}: <strong>{{ flight.airport_end.name }}</strong> {% trans "to" %} <strong>{{ flight.airport_start.name }}</strong> {% trans "on" %} {{ flight.return_date|date:"d-m-Y" }}</h4>
        </div>
        {% if expired %}
          <div class="alert alert-danger" role="alert">{% trans "Too late..." %} {% trans "This flight is not available anymore." %}</div>
        {% else %}
          <p><a id="referral" class="btn btn-lg btn-success" href="{{ flight.buy_url }}" role="button" target="_blank">{% trans "Buy it for" %} <span id="spprice">{{ flight.price }}</span> {{ flight.currency }}</a></p>

          <div class="container" style="width:140px">
            <div class="row">
                <div class="col-xs-6 fb-share-button" data-href="http://iflytomorrow.com/flight/{{flight.perm_url}}" data-layout="button"></div>
                <div class="col-xs-6"><a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Fly%20tomorrow&hashtags=flight,tomorrow&url=http://iflytomorrow.com/flight/{{flight.perm_url}}" data-size="default">Tweet</a></div>
            </div>
          </div>
        {% endif %}
      </div>

    <script type="text/javascript">
        flight_id = window.location.pathname.split('/')[2]

        $( document ).ready(function() {
            var referral = $('#referral').attr('href');
            $.ajax({
                url:"/check/" + flight_id,
                success:function(data) {
                    if (data['min_price'] > 0) {
                        $('#spprice').text(data['min_price']);
                    }
                    return data;
                }
            });
        });

    </script>

      {% include "footer.html" %}

      {% include "language.html" %}
      </form>

{% endblock %}