{% extends "base.html" %}
{% load i18n %}
{% block maincontent %}

      <div class="jumbotron">
        <div class="lead">
	<h4>:( {% trans "Flight not found." %}</h4>
        </div>
      </div>

      {% include "footer.html" %}

      {% include "language.html" %}

{% endblock %}
