<footer class="footer">
<div styl="float:left;"><p>&copy; {% now "Y" %} iFlyTomorrow.com</p></div>
<div style="float:right;"><div class="fb-follow" data-href="https://www.facebook.com/iflytomorrow" data-layout="button" data-size="large" data-show-faces="true"></div></div>
</footer>
