{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Cheapest flight for tomorrow from" %} {{ first_way.from }} {% trans "to" %} {{ first_way.to }}{% endblock %}

{% load static %}

{% block custom_head %}
<style type="text/css">
.ui-autocomplete-loading {
    background: white url("{% static 'dealflight/images/ui-anim_basic_16x16.gif' %}") right center no-repeat;
}
</style>




{% endblock custom_head %}

{% block maincontent %}

      <div class="jumbotron">
        <h2>{% trans "Cheapest flight for tomorrow" %}: {{ price }} {{ currency }}</h2>
        <div class="lead">
             <h4>{% trans "From" %}: <strong>{{ first_way.from }}</strong> {% trans "to" %} <strong>{{ first_way.to }}</strong> {% trans "on" %} {{ first_way.date }}</h4>
             <div>{% trans "and return" %}</div>
             <h4>{% trans "From" %}: <strong>{{ return.from }}</strong> {% trans "to" %} <strong>{{ return.to }}</strong> {% trans "on" %} {{ return.date }}</h4>
        </div>
        <p><a class="btn-custom btn-lg btn-success" href="{{ buyUrl }}" role="button" target="_blank">{% trans "Buy now" %}!</a></p>
        <div class="container" style="width:140px">
            <div class="row">
                <div class="col-xs-6 fb-share-button" data-href="http://iflytomorrow.com/flight/{{permUrl}}" data-layout="button"></div>
                <div class="col-xs-6"><a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Fly%20tomorrow&hashtags=flight,tomorrow&url=http://iflytomorrow.com/{{permUrl}}" data-size="default">Tweet</a></div>
            </div>
        </div>

        <div class="container" style="padding-top:20px">
          <div class="row">
               <button type="button" class="btn btn-default" data-toggle="modal" data-target="#changeCityModal">{% trans "Change my city" %}</button>
               {% if beta %}
               <button type="button" class="btn btn-default" data-toggle="modal" data-target="#subscribeModal">{% trans "Let me know when there is something else" %}</button>
               {% endif %}

            </div>
        </div>

        {% include "subscribe_modal.html" with city=first_way.from skCodeFrom=first_way.skCodeFrom %}
        {% include "change_city_modal.html" %}

      </div>

      {% include "footer.html" %}

      {% include "language.html" %}

{% endblock %}
