{% extends "base.html" %}
{% load i18n %}
{% block maincontent %}

      <div class="jumbotron">
        <div class="lead">
	        <h4>:( {% trans "No flight found from your location." %}</h4>

            <div class="container" style="padding-top:20px">
                <div class="row">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#changeCityModal">{% trans "Change my city" %}</button>
                </div>
            </div>
        </div>
      </div>

      {% include "footer.html" %}

      {% include "language.html" %}
      {% include "change_city_modal.html" %}

{% endblock %}
