<form action="/i18n/setlang/" method="post">
  {% csrf_token %}
  <input name="next" type="hidden" value="/" />
  <select name="language">
      {% for lang in LANGUAGES %}
          <option value="{{ lang.0 }}">{{ lang.1 }}</option>
      {% endfor %}
  </select>
  <input name="next" type="hidden" value="{{ request.path }}"/>
  <input type="submit" value="Change language" />
</form>