{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Next Flights - Cheapest flight for tomorrow" %}{% endblock %}

{% block maincontent %}
      {% load static %}
      <div class="blog-header">
        <h1 class="blog-title">{% trans "Next Flights" %}</h1>
        <!--<p class="lead blog-description"></p>-->
         <div class="row">
              <div class="col-xs-12 blog-main">
                <div class="blog-post">
                    <ul class="list-group">
                    {% for flight in flights %}
                        <li class="list-group-item"><a href="/flight/{{ flight.perm_url }}">{{ flight.airport_start.name }} -> {{ flight.airport_end.name }} @ {{ flight.start_date|date:"d-m-Y" }} {% trans "for" %} &euro; {{ flight.price }}</a> <!-- <a href="#"><img src="{% static 'dealflight/images/refresh.png' %}" alt="Refresh" title="Refresh"/></a> --> </li>
                    {% endfor %}
                    </ul>
                </div>
         </div>
        </div>
      </div>

      {% include "footer.html" %}

      {% include "language.html" %}

{% endblock %}