{% load i18n %}

<!-- Modal -->
<div class="modal fade" id="subscribeModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content" id="myModalInviteDestination">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{% trans "Let me know when it is something new" %}</h4>
        </div>
        <div class="modal-body" style="text-align:left;">
            <p>{% trans "Write down your email address and we'll send you an email when we find a flight for you." %}</p>

            <form class="form-signin">
                <input type="email" id="subscribeEmail" class="form-control" placeholder="{% trans 'Email address' %}" required="" autofocus="">
                <input type="number" id="subscribeMax" class="form-control" placeholder="{% trans 'Maximum price in euro' %}" required="">
                <input type="text" id="subscribeCity" class="form-control" placeholder="{% trans 'From city' %}" required="" value="{{ city }}" readonly>
                <input type="hidden" id="cityId" value="{{ skCodeFrom }}" />
            </form>

        </div>
        <div class="modal-footer" id="subscribe-modal-footer">
            <button type="button" id="inviteRequest" class="btn btn-primary">{% trans 'Subscribe me!' %}</button>
        </div>
      </div>

    </div>
</div>

<script type="text/javascript">
$(function() {
    $('#inviteRequest').click(function(){
        var subscribeEmail = $("#subscribeEmail").val();
        var subscribeMax = $("#subscribeMax").val();
        var cityId = $("#cityId").val();

        if (subscribeEmail == '' || subscribeMax == '') {
            return
        }

        $.ajax({
            method: "POST",
            url: "/subscribe/",
            data: {
                email: subscribeEmail,
                max: subscribeMax,
                city: cityId
            }
        })
        .done(function( msg ) {
            //console.log("OK");
        });

        $('#subscribeModal').modal('hide');
    });
});
</script>
